body {
    background-image: url("bg_img.jpg");
    background-size: cover;
    /*background-color: white;*/
    margin: 3%;
    font-family: monospace;
    font-size: 1.3em;
    font-weight: bolder;
    align-self: center;
    justify-self: center;

}

#box {
    width: 350px;
    height: wrap;
    padding: 30px 20px;
    border-radius: 15px;
    background-color: rgb(48, 122, 14);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow:
        0 20px 50px rgba(0, 225, 255, 0.3),
        /* Large, soft outer glow */
        0 10px 20px rgba(0, 225, 255, 0.2);


}

input {
    border-color: 1px black solid;
    padding: 3px 30px;
    border-radius: 5px;
}

.button {

    border-color: 1px black solid;
    padding: 10px 30px;
    border-radius: 5px;
}

.error {
    color: rgb(239, 255, 8);
}